@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilos adicionales personalizados */
#paintingContainer::-webkit-scrollbar {
    height: 6px;
}

#paintingContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#paintingContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

#paintingContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

